@import "../../style/vars";

.drag-container{
    width: 100%;
    overflow: hidden;
    height: 50px;
    position: relative;  
}
.drag{
    width: 100%;
    position: absolute;
}

@media(max-width:800px){
    .drag-container{
        border-top: 1px solid $grayLight;
        background: #fff;
        height: 45px;
    }
}