@import "../../style/vars";

.list{
    &__date{
        display: block;
        font-size: 12px;
        margin-bottom: 10px;
        color: $orange;
        @extend %severs-400;
    }
    &__item{
        overflow: hidden;
        transition: all .25s cubic-bezier(.36,-0.64,.34,1.76);   
    }
    &__item-time{
        @extend %severs-400;
        margin-right: 5px;
        color: #707070;
    }
    &__item-content{
        font-weight: 500;
        -webkit-line-clamp: 3; 
        display: -webkit-box;
        -webkit-box-orient: vertical; 
        overflow: hidden;
        max-height: 65px;
    }
    &__item-inner{
        position: relative;
        display: block;
        margin-bottom: 25px;
        padding-bottom: 25px;
        color:$blue;
        &::after{
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #EBEBEB;
            height: 1px;
        }
    }
    &__item-inner.breaking-news,
    &__item-inner.news-with-video,
    &__item-inner.news-with-photo,
    &__item-inner.exclusive-news,
    &__item-inner.online-news{
        padding-top: 40px;
        &::before{           
            content:'';
            position: absolute;
            top: 0;
            height: 20px;
        }
    }
    &__item-inner.news-with-photo{
        &::before{           
            width: 131px;           
            background-image: url('../../assets/news-with-photo.svg');
        }
    }
    &__item-inner.breaking-news{
        @extend %severs-600;
        &::before{           
            width: 154px;
            background-image: url('../../assets/breaking-news.svg');
        }
    }
    &__item-inner.news-with-video{
        &::before{           
            width: 133px;
            background-image: url('../../assets/news-with-video.svg');
        }
    }
    &__item-inner.exclusive-news{
        @extend %severs-600;
        &::before{           
            width: 106px;
            background-image: url('../../assets/news-exclusive.svg');
        }
    }
    &__item-inner.online-news{
        @extend %severs-600;
        &::before{           
            width: 82px;
            background-image: url('../../assets/news-online.svg');
        }
    }
}

@media(max-width:800px){
    .list{
        &__items{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 30px;
            grid-row-gap: 40px;
        }
        &__item-inner.breaking-news,
        &__item-inner.news-with-video,
        &__item-inner.news-with-photo,
        &__item-inner.exclusive-news,
        &__item-inner.online-news{
            padding-top: 22px;
            .list__item-content{
                max-height: 45px;
                -webkit-line-clamp: 2; 
            }
        }
        &__item{
            border-bottom: 1px solid $grayLight;
        }
        &__item-inner{
            font-size: 16px;
            height: 65px;
            overflow: hidden;
            margin-bottom: 15px;
            padding-bottom: 0;
        }
        &__item-inner::after{
            display: none;
        }
    }
}

@media(max-width:550px){
    .list{
        &__items{
            margin-bottom: 30px;
            display: block;
        }
        &__item-inner.breaking-news,
        &__item-inner.news-with-video,
        &__item-inner.news-with-photo,
        &__item-inner.exclusive-news,
        &__item-inner.online-news{
            padding-top: 30px;
            .list__item-content{
                -webkit-line-clamp: inherit;
                height: auto;
                overflow: visible;
            }
        }
        &__item{
            border-bottom: none;
        }
        &__item-inner::after{
            display: block;
        }
        &__item-inner{
            height: auto;
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        &__box{
            display: block;
        }
    }
}